@media only screen and (min-width: 32.5em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #website-3 {
    grid-column: 1/4;
    grid-row: 2/3;border-radius: 10px 10px 0 0;
  } 
  main h3 {
    background-color: #3a4958;
    color: white;
    border-radius: 10px 10px 0 0;
  }
  main p, a {
    font-size: 1.1rem;
  } 

}