* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* border: 2px solid blue;  */
}

header {
  background-color: #0b1f31;
  padding: 15px;
}

header h1, h2 {
  margin: 0 auto;
  padding: 5px;
  color: white;
  text-align: center;
  line-height: 55px;
}

header h1 {
  font-size: 2.5rem;
}

header h2 {
  font-size: 2rem;
}

#website-1 img, #website-2 img, #website-3 img {
  width: 100%;
  display: block;
  padding: 10px;
  margin-top: 10px;
}

main div {
  margin: 15px;
  background-color: #eeeeee;
  border: 1px solid #adadad;border-radius: 10px 10px 0 0;
}

main h3, p, a {
  margin: 0 auto; 
  padding: 12px;
  text-align: left;
}

main h3 {
  background-color: #3a4958;
  color: white;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
}

main p, a {
  font-size: 1.4rem;
}

main p {
  color: #3a4958;  
  font-weight: bold;
}

footer {
  background-color: #0b1f31;
  padding: 15px;
}

footer p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}