@media only screen and (min-width: 65em) {
  header h1 {
    padding: 40px 20px 40px 20px;
    font-size: 45px;
  }
  a, p, li {
    font-size: 20px;
  }
  .persona { 
    padding: 10px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  #persona-1 {
    grid-column: 1/2;
    background-color: #292F36;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  #persona-2 {
    grid-column:  2/3;
    background-color: #292F36;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
  }
}