@media only screen and (min-width: 32.5em) {
  header h1 {
    padding: 25px;
  }
  nav {
    flex-direction: row;
    justify-content: center;
  }
  nav a {
    padding: 25px;
  }
  img {
    width: 25%;
  }
  a, p, li, th {
    font-size: 20px;
    line-height: 29px;
  }
  .persona {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}