* {
  box-sizing: border-box;
  letter-spacing: 1px;
  /* border: 1px solid blue; */
}

body {
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

a, p, li {
  font-size: 20px;
  line-height: 29px;
  font-family: 'Roboto', Helvetica, sans-serif;
}

hr {
  color:#4ECDC4;
  border: 1.5px solid;
}

header, footer {
  background-color: #292F36;
}

header h1 {
  margin: 0;
  padding: 25px 20px 25px 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;  
  background-color: #4ECDC4;
}

nav a {
  padding: 20px;
  text-decoration: none;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: white;
  text-align: center;
}

a:hover {
  background-color:#292F36;
  color: white;
}

main {
  padding: 10px;
  text-align: center;
}

main h1, h2, p {
  color: #292F36;
}

main h1, h2, h3 {
  font-family: 'Rubik', Helvetica, sans-serif;
}

img {
  width: 50%;
  border-radius: 50%;
  border: 7px solid #4ECDC4;
}

.persona { 
  padding: 10px 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.persona p {
  color: white;
}

.persona img {
  border-radius: 50%;
  width: 50%;
  border: 7px solid #4ECDC4;
}

#persona-1 {
  background-color: #292F36;
  padding: 30px; 
}

#persona-2 {
  background-color: #292F36;
  padding: 30px;  
}

#scenarios {
  text-align: left;
}

table {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #292F36;
}

table th {
  padding: 5px;
}

table td {
  width: 25%; /* I don't know how exactly works */
  height: 3em;
}

#primary {
  background-color:#292F36;
  color: white;
}

#secondary {
  background-color: #4ECDC4;
}

#accent-1 {
  background-color: #FF6B6B;
}

#accent-2 {
  background-color: white;
  color: #292F36;
}

#colored-paragraph {
  background-color: #292F36;
  color: white;
  padding: 15px;
}

#heading-typography {
  font-family: 'Rubik', Helvetica, sans-serif;
}

footer div {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer p, #date {
  color: white; 
  text-align: center;
}