* {
  box-sizing: border-box;
  /* border: 2px solid blue; */
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

header {
  background-color: #292f36;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 9px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a > img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #4ECDC4;  
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
  color: #FFFFFF;
}

.headings h1 {
  margin: 0;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1.2em;
}

.headings p {
  margin: 0;
  font-family: "Rubik", Helvetica, sans-serif;
  font-size: .9em;
}

.social img {
  width: 25px;
  margin-left: .3em;
}

.menu nav {
  background-color: #4ECDC4;
}

.menu nav button {
  margin: .2rem 2vw;
  padding: 2px;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  color:#292f36;
}

.menu nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.menu nav ul.open {
  display: block;
}

.menu nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  font-family: "Rubik", Helvetica, sans-serif;
  color:#292f36;
  border-top: 1px solid #292f36;
}

.menu nav ul li a:hover {
  background-color: #292f36;
  color: #FFFFFF;
} 

#header-foot { 
  background-color: #292f36;
  padding: 0px 10px 17px 10px;
}

#header-foot p {
  font-family: "Rubik", Helvetica, sans-serif;
  font-size: 0.9em;
  text-align: center;
  background-color: #4ECDC4;
  color: #292f36;
  padding: 10px;
  margin: 0 auto;
}

main {
  margin: 18px 5px;
  font-size: 0.9em;
}

main > div {
  background-color: #eee;
  border: 1px solid #292f36;
  margin-bottom: 5px;
  font-family: "Rubik", Helvetica, sans-serif;
  font-style: italic;
  height: 10em;
  padding: 15px 0 0 15px;
}

div + section {
  background-color: #eee;
  border: 1px solid #292f36;
  font-family: "Rubik", Helvetica, sans-serif;
  padding: 12px;
}

section > div {
  background-color: #eee;
  border: 1px solid #292f36;
  height: 10em;
  font-style: italic;
  padding: 15px 0 0 15px;
}

/* 
temporary solution
see line 56 and 57 at index.html file
*/
main section h1 {
  display: none;
}

footer {
  background-color: #292f36;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  line-height: 1.2em;
}

footer a > img {
  width: 8em;
  border: 2px solid #4ECDC4;
  border-radius: 50%;
  margin-bottom: 10px;
}

footer h4 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-style: italic;
  margin: 0 auto;
}

footer p {
  font-family: "Rubik", Helvetica, sans-serif;
  font-size: 0.9em;
}

footer address p {
  margin: 0 auto;
}

footer hr {  
  border: 1px solid #4ECDC4;
}

#name {
  font-weight: bold;
}