@media only screen and (min-width: 65em) {
  .logo img {
    width: 5em;
    margin-left: 1.5em;
  }
  .headings {
    margin-left: 1em;
  }  
  .headings p {
    font-size: 1.2em;
  } 
  .social {
    flex-direction: row-reverse;
    margin-right: 1.5em;
  }
  .social img {
    height: 27px;
    margin-left: 1em;
  }
  .social-logos {
   margin-right: 0;
  }
  #hamButton {
    display: none;
  }
  .navigation.navigation {
    display: flex;
    position: inherit;
    width: auto;
    background-color: transparent; 
    margin-right: 6em;
  }
  .navigation li a {
    border-radius: 5px;
    transition: .1s;
    font-size: 1.2em;
    padding: .6em;
    margin-right: .2em;   
    /* border: 1px solid red; */
  }
  #current-date {
    padding: 0.7em;
    font-size: 1.2em;
    margin-top: .5em;
  } 
  main {
    display: grid;
    grid-template-columns: 250px 1fr 280px;  
    grid-template-rows: 200px 250px 200px;    
    margin: 20px 50px 20px;
  }
  .join, #spotlight-3 {
    display: block;
  }
  .event {
    grid-column: 1/2;
    grid-row: 1/2;    
    margin-right: 0;    
  }
  .weather {
    grid-column: 1/2;
    grid-row: 2/3;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .join {
    grid-column: 1/2;
    grid-row: 3/4;    
  }
  .hero {
    grid-column: 2/3;
    grid-row: 1/3;
    /* height: auto; deshabilite esto hoy por la mañana 11:18 am*/
  }
  .news {
    grid-column: 2/3;
    grid-row: 3/4;       
  }
  .spotlights {
    grid-column: 3/4;
    grid-row: 1/4;    
    display: block;    
  }
  .spotlights > div {    
    height: 13.5em;
  }
  .weather {
    padding: 1em;
  } 
  .news {
    padding: 1em;
  }   
  #spotlight-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }
  #spotlight-1 img, #spotlight-2 img, #spotlight-3 img {
    width: 4em;
  }
  #spotlight-3 hr {
    width: 100%;
    margin: .5em 0 .5em;
  }  
  footer {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #website-info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #website-info {
    display: flex;
    align-items: center;
  }
  #website-info img {
    width: 9em; 
  }
  footer hr {
    margin-left: 20px;
    margin-right: 20px;
  }
  #last-details {
    font-size: 1em;
  }
}