@media only screen and (min-width: 32.5em) {
  .logo img {
    width: 4em;
    border: 3px solid #4ECDC4;
  }
  .headings {
    margin-left: .8em;
  }  
  .headings h1 {
    font-size: 1.8em;
  }
  .headings p {
    font-size: 1.1em;
  } 
  .social-logos {
    margin-right: 5em;
  }
  .navigation {
    top: 8.2em;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    gap: 1em;
  }
  .home-containers {
    margin: 0;
  }
  #hero {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  #news {
    grid-column: 1/4;
    grid-row: 2/3;
    height: auto; 
  }
  .spotlights {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em; 
  }
  #join {
    display: block;
    grid-column: 1/4;
    grid-row: 4/5;
  }
  #event {
    grid-column: 1/3;
    grid-row: 5/6;       
  }
  #weather {
    grid-column: 3/4;
    grid-row: 5/6;
    margin-left: 0;
    margin-right: 0;    
  }
  #spotlight-1 img, #spotlight-2 img, #spotlight-3 img {
    width: 6em;
  }
  #hero h2 {
    font-size: 2.4em;
    top: 20px;
    left: 20px;
  }
  #hero a {
    font-size: 1.5em;
    bottom: 20px;
    right: 20px;
  }
  #join {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;    
    text-align: center;   
    padding: 1em;
  }
  #join a {
    font-size: 1.5em;
    margin-bottom: 1em;
    padding: .3em .5em; 
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
    background-color: #292F36;
    color: #FFFFFF;
    border: 0;
    text-decoration: none;
  }
  #join button a:visited {
    color: #FFFFFF;
    text-decoration: none;
  } 
  /* discover page */
  .information-container {
    margin-bottom: 0;
  }
  .information-container picture img {
    width: auto;    
  }
  #demographic {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  #cerro-la-silla {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  #fundidora {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  #santa-lucia {
    grid-column: 1/4;
    grid-row: 4/5;
  }
  #arena-monterrey {
    grid-column: 1/4;
    grid-row: 5/6;
  }
  #garcia-caves {
    grid-column: 1/4;
    grid-row: 6/7;
  }
  /* end discover page */

  /* discovery page */ 
  .cards {
    grid-column: 1/4;  
  }
  .grid section h2 > p, .list section h2 > p {
    font-weight: lighter;
  }

  /* .list section {
    display: grid;
  } */
  .business-grid {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .address-grid {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .membership-grid {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .neighborhood-grid {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .phone-grid {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  /* .list #hr-grid {
    display: none;
  } */
  .buttons-container {    
    margin-bottom: 0;
  }
 

  /* end discovery page */

  /* join page */
   form {
    grid-column: 2/4;
    grid-row: 1/2;
    padding: 1em 2em;
  }    
  form fieldset {
    border: 1px solid #292F36;
    border-radius: 5px;
    padding: 1em 2em 2em 2em;  
  }
  .memberships-container {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  .memberships-container > div {
    margin-bottom: 0;  
  }
  .memberships-container hr {
    width: 100%;
  }
  .chamber-benefits {
    padding-left: 0;
  }
  /* .chamber-benefits li {
    font-size: 1em;
  } */
  .non-profit {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .bronze {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .silver {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .gold {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #submitBtn {
    width: auto;
    padding: .75rem 2em;
    /* margin-top: 1.5em; */
  }
  /* end join page */

  /* */
  .welcome-membership-message  {
    grid-column: 1/4;
    grid-row: 1/2;
 
  }
  /* */

  footer {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #website-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #website-info {
    display: flex;
    align-items: center;
  }
  #website-info img {
    width: 9em;  
    margin-left: .9em;
    margin-right: .9em;
  }
  #footer-headings h2 {
    font-size: 1.5em;
  }
  #footer-headings p, #contact-info p {
    font-size: 1.1em;
  }
  #contact-info {
    margin-right: 4em;
  }
  footer hr {
    margin: 2em 0 1em;
  }
  #last-details {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;    
    text-align: center;
    word-spacing: 0.3em; /* Espacio entre palabras: https://bit.ly/3W5VmC6 */
  }
  #last-info #name {
    font-weight: bold;
  }  
  #forecast-credit {

    font-size: inherit;
  }
}