* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* line-height: 1.5em; */
  /* border: 1px solid red; */
}

h1, h2, h3 {
  font-family: 'Roboto', Helvetica, sans-serif;
}

div, p, a {
  font-family: 'Rubik';
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-color: #292F36;
  padding: 0.6em 0.5em 1em 0.5em;   
  position: relative;
}

#banner {  
  display: none;
  background-color: #FF6B6B;
  padding: 1em; 
}

#banner p {
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 3em;
  border: 2px solid #4ECDC4;
  border-radius: 50%;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: .5em;
}

.headings h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.2em;
  color: #FFFFFF;
  margin: 0;
}

.headings p {
  font-family: 'Rubik', Helvetica, sans-serif;
  font-size: .9em;
  color: #FFFFFF;  
}

.social {
  display: flex;
  align-items: center;
}

.social img {
  display: flex;
  align-items: center;
  height: 25px;
  margin-left: .7em;
}

.social-logos {
  display: flex;
}

#hamButton {
  background-color: #4ECDC4;
  color: #292F36;
  border: 0;
  font-family: 'Rubik', Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  width: 1.5em;
  padding: .1em .2em;
  border-radius: 2px;
  margin-left: 1.1em;
}

#hamButton span:nth-child(1) {display: block;}
#hamButton span:nth-child(2) {display: none;}

#hamButton.open span:nth-child(1) {display: none;}
#hamButton.open span:nth-child(2) {display: block;}

.navigation { 
  display: none;
  position: absolute;
  top: 7em;
  left: 0;  
  background-color: #292F36; 
  width: 100%;  
  z-index: 1;
}

.navigation.open {
  display: block;  
}

.navigation li {  
  list-style-type: none;
  text-align: center;
}

.navigation li a {
  display: block;
  font-family: 'Rubik', Helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;  
  margin: 0.5em;
  padding: 1em; /* aqui */
}

.navigation li a:hover {
  background-color: #4ECDC4;
  color: #292F36;
}

#current-date {
  background-color: #4ECDC4;
  text-align: center;  
  padding: .5em; 
  margin-top: .5em; 
}

#date {
  font-family: 'Rubik', Helvetica, sans-serif;
}

main {
  margin: 1em .4em;
  font-family: 'Rubik', Helvetica, sans-serif;
}

main > div {
  background-color: #e9e9e9; 
  color: #292F36;
  border: 1px solid #292F36;
  margin-bottom: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.event, .weather, .news, .spotlights, #spotlight-1, #spotlight-2 {  
  padding: 1em;  
}


.spotlights > div {
  border: 1px solid #292F36;  
}

.join {
  display: none;
}

#spotlight-3 {
  display: none;
}

/* start - filling the containers */

.hero {
  position: relative;
  height: 12em;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero h2 {
  position: absolute;  
  top: 20px;
  left: 20px;
  /* text-shadow: 4px 4px 8px #000000; */
}

#h2-background {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #292F36;
}

.hero button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #4ECDC4;
  border-radius: 10px;
  padding: .6em;  
  font-weight: 600; 
  font-size: 1.2em;
  border: 0;
}

.event {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center; 
}

.event-heading {
  display: flex;
  align-items: center;
}

.event img {
  width: 1.2em;
  margin-right: .5em;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;    
  margin-left: 3.5em;
  margin-right: 3.5em;
}

#weather-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.climate-prediction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 4em 0; */
}

.sunny {
  display: flex;
  justify-content: flex-end;  
  font-size: 1.5em;
  font-weight: 600
  /* padding-right: 4em; */
}

.climate-prediction img {  
  width: 4em;
}

.climate-prediction #temperature {
  font-size: 1.5em;
  font-weight: 600;
}

.weather hr {
  border: 1px solid #292F36;
  margin: .5em 0;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#spotlight-1, #spotlight-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;  
}

#spotlight-1 img, #spotlight-2 img {
  width: 8em;
  
}

.slogan-message {
  font-style: italic;
}

#spotlight-1 hr, #spotlight-2 hr {
  width: 100%;
  margin: .5em 0 .5em;
}

/* end - filling the containers */

footer {
  background-color: #292F36;
  color: #FFFFFF;
  text-align: center;
  padding: 1em .5em;
}

#website-info img {
  width: 8em;
  border: 4px solid #4ECDC4;
  border-radius: 50%;
}

#footer-headings h2 {
  font-style: italic;
  font-size: 1em;
  margin-top: .4em; 
  line-height: 1.4em;
}

#footer-headings p, #contact-info p {
  font-size: .9em; 
  line-height: 1.4em;
}

/* https://developer.mozilla.org/es/docs/Learn/CSS/Styling_text/Styling_links#los_estados_de_un_enlace */
#contact-info a:visited {
  color:#4ECDC4;
}

footer hr {
  border: 1px solid #4ECDC4;
  margin: 1em 0;
}

#last-details {  
  font-size: .8em;
  line-height: 1.4em;
  margin-left: 5em;
  margin-right: 5em;    
  text-align: center;
}