body {
  max-width: 1600px; /* 1440px */
  margin: 0 auto;
  padding: 25px;
  font-family: 'Rubik', sans-serif; 
}

/* header, main, footer {
  max-width: 1600px;
  margin: 0 auto;
} */

header {
  display: flex; 
  height: 250px; 
}

header img, p {
  margin: 30px;
}

header img {
  border-radius: 15px;
}

header h1 {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  color: white;
}

main h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #002869;
}

li {
  font-size: 1.3rem;
  color: rgb(2,48,71);
}

#reminder-message {
  margin: 0;
  font-size: 1rem;
  color: rgb(2,48,71);
  font-style: italic;
}

footer {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 1.5rem;
  color: rgb(2,48,71);
  color: white;
}

#last-updated-text {
  color: rgb(255, 242, 0);
}

header, footer {
  background-color: #002869;
  border-radius: 15px;
  box-shadow: rgb(0, 41, 107) 0px 20px 30px -10px;
}

/* * {
  border: 2px solid blue;
} */