body {
  margin: 20px;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, main, footer {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  display: flex; 
  border-radius: 15px;
  /* ajustar esta */
  height: 250px; /* <--- */
  /* altura */
  /* box-shadow: rgb(4, 79, 117) 10px 10px 10px; */
}

header img, p {
  margin: 30px;
}

header img {
  border-radius: 15px;
}

header h1 {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  color: white;
}

main h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #002869;
}

li {
  font-size: 1.3rem;
  color: rgb(2,48,71);
}

#reminder-message {
  margin: 0;
  font-size: 1rem;
  color: rgb(2,48,71);
  font-style: italic;
}

footer {
  background-color: #219ebc; 
  margin-top: 50px;
  padding: 2px;
  text-align: center;
  border-radius: 15px;
}

footer p {
  font-size: 1.5rem;
  color: rgb(2,48,71);
  color: white;
}

#last-updated-text {
  color: rgb(255, 242, 0);
}

header, footer {
  background-color: #002869;
  box-shadow: rgb(0, 41, 107) 0px 20px 30px -10px;
}

/* * {
  border: 2px solid blue;
} */